aiohttp==2.2.2
async-timeout==1.2.1
backports.weakref==1.0rc1
bleach==1.5.0
certifi==2017.4.17
chardet==3.0.4
Django==1.8.1
gTTS==1.2.0
gTTS-token==1.1.1
html5lib==0.9999999
idna==2.5
Markdown==2.6.8
multidict==3.1.0
numpy==1.13.0
olefile==0.44
Pillow==4.2.0
protobuf==3.3.0
PyMarkov==0.1.0
requests==2.18.1
six==1.10.0
telepot==12.0
tensorflow==1.15.0
urllib3==1.21.1
Werkzeug==0.12.2
yarl==0.11.0
