{% extends 'blog/base.html' %}

{% block content %}
<div class="blog-container" style="">
    {% if perms.blog.add_post %}
      <div class="postform">
      {% include "blog/post_add.html" with form=post_form %}
      <br>
      </div>
    {% endif %}
    {% for post in object_list %}
        <div class="blogpost">
          <hr>
          <div class="blogpost-border">
            <p class="created-date">{{ post.datetime }}</p>
            <h2 class="post-title" id="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="blog-content">{{ post.content }}</p>
            <div class="blog-author">
              <p class="author">{{ post.author.username }}</p>
              <p class="author-extra">{{ post.author.userextrafields.text }}</p>
            </div>
            <span class=""><a href="{{ post.get_absolute_url }}#disqus_thread"></a></span>
          </div>
        </div>
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}
    <script id="dsq-count-scr" src="//blog-kz8i2cpqvz.disqus.com/count.js" async></script>
</div>
{% endblock %}

