{% extends 'blog/base.html' %}
{% load i18n %}
{% trans "Нет постов" as no_posts %}

{% block js %}
    <script type="text/javascript"> 
        var pageNum = {{ page_obj.number }};
        console.log(pageNum);
        var hasNextPage = {{ page_obj.has_next|lower }};
        var baseUrl = '{% url "list" %}'; 
        console.log(baseUrl);
    </script>
    <script src="{% url 'posts_load' %}"></script>
{% endblock %}

{% block content %}
<div class="blog-container">
  {% if user.is_authenticated %}
    <p class="greeting">Ну привет, <a href="{% url 'user_profile' pk=user.pk %}">{{ user.username }}</a>.</p>
  {% endif %}
    <div class="postform">
    {% include "blog/post_add.html" with form=post_form %}
    <br>
    </div>
    <div class="bloglist">
    {% for post in object_list %}
        <div class="blogpost">
          <hr>
          <div class="blogpost-border">
            <p class="created-date">{{ post.datetime }}</p>
            <h2 class="post-title"><a class="post-title-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="blog-content">{{ post.content }}</p>
            <table style="width:100%;">
              <tr>
                <th>
                  <div>
                    <div style="float:left">
                      <a class="post-change btn btn-default btn-xs" href="{% url 'post_edit' pk=post.pk %}" role="button">Изменить</a>
                    </div>
                    {% include "blog/post_delete.html" with form=post_delete_form %}
                  </div>
                </th>
                <th>
                  <div class="blog-author">
                    <p class="author"><a class="author-link" href="{% url 'user_profile' pk=post.author.pk %}">{{ post.author.username }}</a></p>
                    <p class="author-extra">{{ post.author.userextrafields.text }}</p>
                  </div>
                </th>
              </tr>
            </table>
            <div class="post-comments">
              {% if post.comments.count > 0 %}
                <a class="comments-count" href="{% url 'post_detail' pk=post.pk %}">Комментариев: {{ post.comments.count }}</a>
              {% else %}
                <p class="comments-count">Комментариев нет.</p>
              {% endif %}
            </div>
          </div>
        </div>
    {% empty %}
        <p id="no-posts">{{ no_posts }}</p>
    {% endfor %}
    </div>
    <div id="blog-anchor"></div>
</div>
{% endblock %}

