{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test redirect mobile button</title>
    </head>
<body>

<a id="linkBtn" href="https://flat.audio/m/15789">https://flat.audio/m/15789</a>
<br/>
<br/>
<a id="linkBtn" href="https://flat.audio/m/15789">flat.audio/m/15789</a>
<br/>
<br/>
<a id="linkBtn" href="intent://flat.audio/m/11919#Intent;scheme=https;package=com.flataudio.player;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.flataudio.player;end">intent</a>

</body>
</html>