{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test redirect mobile button</title>
    </head>
<body>

<a id="linkBtn2" href="https://flat.audio/m/15789">flat.audio/m/15789</a>

<a id="linkBtn3" href="intent://flat.audio/m/11919#Intent;scheme=https;package=com.flataudio.player;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.flataudio.player;end">intent</a>

<a id="linkBtn4" href="intent://soundcloud.app.goo.gl/ZocWQ#Intent;package=com.google.android.gms;scheme=https;S.browser_fallback_url=https://soundcloud.com/starforce/07-starforce-simulation-2099%3Fref%3Dclipboard&p%3Da&c%3D0&utm_campaign%3Dsocial_sharing&utm_medium%3Dtext&utm_source%3Dclipboard;end;">intent</a>

<a id="linkBtn" href="intent://flat.audio/m/11919#Intent;package=com.google.android.gms;scheme=https;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.flataudio.player;end;">intent</a>

<script>
 var a = document.getElementById('linkBtn');
 a.click();
</script>
</body>
</html>