
section {
  width: 140px;
  height: auto;
  margin: auto;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#slider {
  border-width: 1px;
  border-style: solid;
  border-color: #333 #333 #777 #333;
  border-radius: 25px;
  width: 128px;
  position: absolute;
  height: 13px;
  background-color: #8e8d8d;
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
           0 1px 0 0px rgba(250, 250, 250, .5);
  left: 5px;
  top: -6px;
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #1C94C4;
  top: -7px;
  margin-left: -12px;
}

.ui-slider-range {
  background: linear-gradient(#ffffff 0%,#eaeaea 100%);
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  border-radius: 25px;
}
